[submodule "OtusHub"]
    path = OtusHub
    url = https://github.com/ChaoticGoodAdmi/OtusHub.git
[submodule "OtusHub-front"]
    path = OtusHub-front
    url = https://github.com/ChaoticGoodAdmi/OtusHub-front.git
